body {
  margin: 0;
  background-color: #eaeded;
}

.App-Header {
  background-color: #0a2546;
  display: flex;
  color: white;
  justify-content: center;
}

.App-main {
  display: flex;
  padding: 15px 18px 0 18px;
}

.Shopping-Main {
  height: 300px;
  background-color: white;
  flex-grow: 0.7;
  margin-right: 18px;
}
.Cart-Total {
  height: 300px;
  background-color: white;
  flex-grow: 0.3;
}

.CartItem {
  display: flex;
}

.Product-Image {
  width: 180px;
  height: 180px;
}

img {
  object-fit: contain;
  width: 100%;
}

.CartItem-info {
  flex-grow: 1;
}

.info-title {
  color: #007185;
}

.info-stock {
  color: #007600;
}

.item-delete {
}

.CartItem-price {
  font-size: 18px;
  font-weight: 700;
}
